
<h1>Assignment 1: Hello Cloud</h1> 
<h3>CS 496, Ben Fisher, fisheben@oregonstate.edu</h3>
<p>{{this.dateTime}}</p>
<div>{{this.countText}}</div>
<div>
<h4>Open Weather Results</h4>
	<ul>	  
		<li><span>City: </span><span>{{this.city}}</span></li>
		<li><span>Country: </span><span>{{this.country}}</span></li>
		<li><span>Weather: </span><span>{{this.weather}}</span></li>
		<li><span>Humidity: </span><span>{{this.humidity}}</span></li>
		<li><span>Temperature: </span><span>{{this.temperature}}</span></li>
		<li><span>Wind: </span><span>
			<ul>
				<li><span>Direction: </span><span>{{this.windDirection}}</span></li>
				<li><span>Speed: </span><span>{{this.windSpeed}}</span></li>
			</ul>
		</span></li>
	</ul>
</div>   
